<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="html_head">
	<title>Dashboard Template for Bootstrap</title>
</th:block>

<!-- Bootstrap core CSS -->
<link href="../css/lib/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-dark bg-dark navbar-fixed-top">

		<div class="container-fluid">
			<div class="navbar-header">
				<h2>
					<a class="navbar-brand" href="#">Software Contents</a>
				</h2>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			
		
			<div class="col-sm-3 col-md-2 sidebar">
				<div class="container">
					IdNum :
					<text id="memberId" sec:authentication="principal.id">No</text>
					<br> studentNum :
					<text id="memberStudentNum" sec:authentication="principal.username">studentNum</text>
					<br> Name :
					<text id="memberName" sec:authentication="principal.name">name</text>
					<br> Ph :
					<text id="memberPh" sec:authentication="principal.phoneNumber">name</text>
					<br>

				</div>

				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link active"
						href="/memeber/mypage">My Page</a></li>
					<li class="nav-item"><a class="nav-link" href="/memeber/equip">기자재
							대여</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/memeber/computer">컴퓨터 사용</a></li>
					<li class="nav-item"><a class="nav-link" href="/memeber/board">Q
							& A</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAnonymous()" th:href="@{/}">로그인</a> <a
						class="nav-link" sec:authorize="isAuthenticated()"
						th:href="@{/logout}">로그아웃</a> <a class="nav-link"
						sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/info}">내정보</a>
						<a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/admin}">어드민</a></li>
				</ul>
			</div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<p></p>
				<h1 class="page-header">랜트 기자재 정보</h1>

				<div class="row placeholders">
					<!-- 기기정보 넣기 -->
					<div class="table-responsive">
						<table class="table table-striped" id="rentalequiplist">
							<thead>
								<tr>
									<th>No.</th>
									<th>기기명</th>
									<th>대여일자</th>
									<th>반납예정일자</th>
									<th>사유</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="rental : ${rentalequiplist}">
									<td th:text="${rental.equipId}"></td>
									<td th:text="${rental.equipName}"></td>
									<td th:text="${rental.rentalTime}"></td>
									<td th:text="${rental.predictReturnTime}"></td>
									<td th:text="${rental.reason}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- 기기정보 넣기 -->
				<h2 class="sub-header">사용가능 기자재 리스트</h2>
				<div class="table-responsive">
					<table class="table table-striped" id="equipList">
						<thead>
							<tr>
								<th>No.</th>
								<th>기기명</th>
								<th>기자재번호</th>
								<th>일련번호</th>
								<th>상태</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="equip : ${equiplist}">
								<td th:text="${equip.id}"></td>
								<td th:text="${equip.equipName}"></td>
								<td th:text="${equip.equipSeqNum}"></td>
								<td th:text="${equip.equipNum}"></td>
								<td th:text="${equip.equipState}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="../js/lib/jquery.min.js"></script>
	<script src="../js/equipView.js"></script>
	<script src="../js/lib/bootstrap.min.js"></script>
</body>
</html>